<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PieOpticon | Vendor & Order Tracking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>
      <span style="padding-left: 16px;">Pie</span><span style="opacity: 15%;">rre</span>
      <br>
      <span style="padding-left: 32px;">Opticon</span>
    </h1>
    <h2>Welcome to your all-seeing <em><strong>pie</strong></em>, <strong>Pie</strong>rre!</h2>

    <p><a href="/vendors">Click here</a> to check out your Vendors page!</p>
  </body>
</html>